<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%-title%></title>
    <link rel="stylesheet" href="/stylesheets/normal.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <style>
        body{
            background: #f8f8f8;
        }
        a{
            font-size: 16px;
            color: #5e6d82;
            border: 1px solid #5e6d82;
            padding: 5px;
            width: 50px;
            text-align: center;
            border-radius: 11px;
            display: inline-block;
            margin-top: 20px;
            margin-left: 20px;
        }
        ul{
            color: #5e6d82;
            margin-top: 5%;
        }
        li{
            padding: 10px 0 0 10px;
            width: 500px;
            margin: 0 auto;
        }
        span.small {
            letter-spacing: 5px;
        }
        span:first-child {
            width: 70px;
            display: inline-block;
            text-align: right;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <!--返回-->
    <a href="/body/userArticles">返回</a>
    <!--个人信息-->
    <ul>
        <li>
            <span class="small">作者:</span><span>zcd897957277</span>
        </li>
        <li>
            <span class="small">邮箱:</span><span>15728042326@163.com</span>、<span>897957277@qq.com</span>
        </li>
        <li>
            <span>github:</span><span>https://github.com/zcd897957277/MyBlog</span>
        </li>
        <li style="text-align: center;">
            欢迎大家一同交流！！！！！
        </li>
    </ul>
</body>
</html>