<ul class="leftNav" id="leftNav">
    <li class="li-nav-1">
        <img src="/images/logo.png" alt="logo">
    </li>
    <li class="li-nav-2">
        <img src="/images/article.png" alt="article">
    </li>
    <li class="li-nav-3">
        <img src="/images/adminlabel.png" alt="adminlabel">
    </li>
    <li class="li-nav-4">
        <img src="/images/use.png" alt="user">
    </li>
</ul>
