<!--左边：导航区-->
<div class="leftNav" id="leftNav">
    <ul>
        <li class="li_1">
            <img class="person_img" src="/images/dog.jpg" alt="人物头像">
        </li>
        <li class="li_2"><b>weiwei</b></li>
        <li class="li_3"><b>前端人</b></li>
    </ul>
    <!--文章数显示-->
    <ul class="ul_icon">
        <li class="li_icon border-right">
            <div><%-articlesNum%></div>
            <img class="small_icon" src="/images/article-title.png" alt="文章数">
        </li>
        <li class="li_icon">
            <div><%-labelsNum%></div>
            <img class="small_icon" src="/images/tag.png" alt="标签数">
        </li>
        <li class="clear"></li>
    </ul>
    <!--页面跳转-->
    <ul>
        <li class="btn-user"><a href="/body/inputBlog">首页</a></li>
        <li class="btn-user"><a>归档</a></li>
        <li class="btn-user"><a href="/body/aboutMe">关于我</a></li>
        <li class="btn-user"><a>搜索</a></li>
    </ul>
</div>
<script type="text/javascript" src="/javascripts/user.js"></script>